main {
    display: flex;

    max-width: 65%;
    min-width: fit-content;
    padding: 0 10%;
}

section{
    width: 50%;
}

@media(max-width: 800px){
    main{
        align-items: center;
        flex-direction: column;
        gap: 20px;
        padding: 0;
        margin-bottom: 40px;
    }
    section {
        width: 95%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}



section figure {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    width: 90%;
} 

figure img {
    max-width: 100%;

}

section div {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: #fbf4de55;
}
section div h3 {
    align-self: center;
    font-size: 26px;
    margin-bottom: 15px;
}

section div p {
    margin-left: 15px;
    margin-bottom: 30px;
}