@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
/* font-family: "Quicksand", sans-serif; */

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");
/* font-family: "Open Sans", sans-serif; */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
}
:root {
  --color-brand-orange: #f9be4f;
  --color-brand-cards: #fbf4de;
  --color-brand-brown: #675444;
  --color-grey-1000: #ffffff;
  --color-grey-400: #808080;
  --color-grey-500: #90a4ae;
}
